<footer class="site-footer">
  <div class="social-bar">
    <ul class="social-item-container">
      <li class="social-item"><a href="http://facebook.com/pages/Fort-Toulouse-Fort-Jackson-Park/339146612767420">Facebook</a></li>
      <li class="social-item"><a href="http://instagram.com/fttoulousejackson">Instagram</a></li>
      <li class="social-item"><a href="https://twitter.com/toulousejackson">Twitter</a></li>
      <li class="social-item"><a href="mailto:hello@fttoulousejackson">Message</a></li>
    </ul>
  </div>
  <div class="footer-content">
    <div class="container">
      <p><a href="https://www.google.com/maps/dir//2521+W+Fort+Toulouse+Rd,+Wetumpka,+AL+36093/@32.5036387,-86.25874">2521 W. Fort Toulouse Road Wetumpka, Alabama 36093 <a href="tel:13345674002">(334) 567-3002</a></p>
      <p><a href="{{ site.url }}">Fort Toulouse - Fort Jackson Park</a></p>
      <p class="sponsored">THIS WEBSITE IS SPONSORED BY FRIENDS OF THE FORTS FOUNDATION.</p>
    </div>
    <a href="/" alt="{{ site.title }}"><img class="footer-logo" src="/images/friendslogo.png"></a>
  </div>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="/js/lunr.js"></script>
<script src="/js/search.js"></script>
<script src="/js/list.min.js"></script>
<script src="/js/app.js"></script>
