<header class="header" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ page.background_image }});">
  <div class="vertical">
    <div class="container-wide">
      <h1 class="header-title">{{ page.header }}</h1>
      <h2 class="header-subtitle">{{ page.cta }}</h2>
    
    </div>
    <div class="header-content">
      <a class="button button-alt" href="/frontierdays/">Learn More</a><a class="button button-alt" href="/support/">Donate</a><a class="button button-alt" href="/newsletter/">Newsletter</a>
    </div>
  </div>
</header>
