<header class="header" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ page.background_image }});">
  <div class="vertical">
    <div class="container-wide">
      <img class="banner-text" src="{{ page.banner_text }}">
    </div>
    <div class="header-content">
      <a class="button button-alt" href="/frontierdays/">Learn More</a><a class="button button-alt" href="/https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KSENCM3HG9EHA/">Donate</a><a class="button button-alt" href="/newsletter/">Newsletter</a>
    </div>
  </div>
</header>
