
.site-footer{
  float: left;
  width: 100%;
  font-size: 80%;
}
.social-bar{
  background: $color-brand;
  width: 100%;
  text-align: center;
  padding: 3em 0;
  line-height: 0;

}
.social-item-container{
  margin: 0;
}
.social-item{
  display: inline-block;
  text-transform: uppercase;
  margin: 0 1em;
}
.social-item a{
  font-family: $alt-font-family;
  color: $color-white;
  font-weight: bold;
}
.footer-content{
  background: $color-black;
  text-align: center;
  padding: 4em 0;
}
a.footer-title{
  color: $color-white;
  text-transform: uppercase;
  font-family: $header-font-family;
  letter-spacing: .5em;
  text-decoration: none;
}

.footer-logo{
  height: 8em;
  width: auto;
}
