<section class="block-feature">
  <div class="block-text">
    <h2 class="block-feature-title">Contact</h2>
    <hr />
    <div class="container">
      <form method="post" action="/thanks/" name="contact" netlify-honeypot="bot-field" data-netlify="true">
        <div class="form-group">
          <label class="control-label">First Name</label>
          <input type="text" class="form-control" name="firstName" id="firstName" />
        </div>
        <div class="form-group">
          <label class="control-label">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="lastName" />
        </div>
        <div class="form-group">
          <label class="control-label">Email</label>
          <input type="text" class="form-control" name="email" id="email" />
        </div>
        <div class="form-group">
          <label class="control-label">Message</label>
          <textarea class="form-control" name="message"></textarea>
        </div>
        <div class="form-group" netlify-recaptcha></div>
        <button class="button" type="submit" value="send">Submit</button>
      </form>
    </div>
  </div>
</section>
