---
layout: default
---
{% include page-headerfd.html %}
<article>
  {% for block in site.frontierdays %}
  {% if block.type == "block-image" %}
  <section class="block">
    <div class="block-image {% if block.image_alignment == "right" %}pull-right{% endif %}" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images_resized/large{{ block.image_path }});">
  </section>
  {% endif %}
  {% if block.type == "block-feature-text" %}
  <section class="block-feature">
    <h2 class="block-feature-title">{{ block.title }}</h2>
    <hr class="hr-space" />
      <div class="container">
        <div class="block-feature-text">
          {{ block.content }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% if block.type == "block-feature-image" %}
  <section class="block-feature-image" style="background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url({{ block.image_path }});">
  </section>
  {% endif %}
  {% if block.type == "block-banner" %}
  <section class="block-banner" style="background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url({{ block.image_path }});">
    <div class="vertical">
      <div class="container">
        <h2 class="block-banner-header">{{ block.title }}</h2>
        <p class="block-banner-text">{{ block.content | strip_html }}</p>
      </div>
    </div>
  </section>
  {% endif %}
  {% if block.type == "block" %}
  <section class="block">
    <div class="block-image {% if block.image_alignment == "right" %}pull-right{% endif %}" style="background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/images_resized/large{{ block.image_path }});">
    </div>
    <div class="block-content">
      <div class="block-text vertical">
        <div class="container">
          <h2 class="block-title">{{ block.title }}</h2>
          <hr />
          {{ block.content }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% if block.type == "block-highlight" %}
  <section class="block-highlight" style="background-image:linear-gradient(rgba(138,161,70,.9), rgba(138,161,70,.9)), url({{ block.image_path }});">
    <div class="container">
      <a class="button button-alt" target="_blank" href="{{ block.link }}">Directions</a>
    </div>
  </section>
  {% endif %}
  {% endfor %}
</article>
