---
layout: default
---
{% include page-header.html %}
<article class="container">
  {{ page.content }}
  <iframe id="hidden_iframe" name="hidden_iframe" onload="if(submitted) {window.location='https://fttoulousejackson.org/payment/';}" style="display:none;"></iframe>

  <form action="https://docs.google.com/a/fttoulousejackson.org/forms/d/1I2iKRFdKZkVUrL25u1ecgQWpcYG-gqixk3l0Iy4OwBk/formResponse" id="ss-form" method="post" name="ss-form" onsubmit="submitted=true;" target="hidden_iframe">
    <div class="ss-question-list">
      <div class="ss-form-question errorbox-good">
        <div class="ss-item ss-item-required ss-text" dir="ltr">
          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_986808388"></label>

            <div class="ss-q-title">
              <label class="ss-q-item-label" for="entry_986808388">First Name
              <label for="itemView.getDomIdToLabel()"></label></label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr">
            </div><input class="ss-q-short" dir="auto" id="entry_986808388" name="entry.986808388" required="" title="" type="text" value="">

            <div class="error-message" id="1605996757_errorMessage"></div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div class="ss-item ss-item-required ss-text" dir="ltr">
          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_1441912784"></label>

            <div class="ss-q-title">
              <label class="ss-q-item-label" for="entry_1441912784">Last Name
              <label for="itemView.getDomIdToLabel()"></label></label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr">
            </div><input class="ss-q-short" dir="auto" id="entry_1441912784" name="entry.1441912784" required="" title="" type="text" value="">

            <div class="error-message" id="948261375_errorMessage"></div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div class="ss-item ss-item-required ss-text" dir="ltr">
          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_1155580543"></label>

            <div class="ss-q-title">
              <label class="ss-q-item-label" for="entry_1155580543">Street
              <label for="itemView.getDomIdToLabel()"></label></label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr">
            </div><input class="ss-q-short" dir="auto" id="entry_1155580543" name="entry.1155580543" required="" title="" type="text" value="">

            <div class="error-message" id="419168255_errorMessage"></div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div class="ss-item ss-item-required ss-text" dir="ltr">
          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_615801232"></label>

            <div class="ss-q-title">
              <label class="ss-q-item-label" for="entry_615801232">City
              <label for="itemView.getDomIdToLabel()"></label></label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr">
            </div><input class="ss-q-short" dir="auto" id="entry_615801232" name="entry.615801232" required="" title="" type="text" value="">

            <div class="error-message" id="1360701641_errorMessage"></div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div class="ss-item ss-item-required ss-text" dir="ltr">
          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_205829216"></label>

            <div class="ss-q-title">
              <label class="ss-q-item-label" for="entry_205829216">State
              <label for="itemView.getDomIdToLabel()"></label></label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr">
            </div><input class="ss-q-short" dir="auto" id="entry_205829216" name="entry.205829216" required="" title="" type="text" value="">

            <div class="error-message" id="27857239_errorMessage"></div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div class="ss-item ss-item-required ss-text" dir="ltr">
          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_1857140494"></label>

            <div class="ss-q-title">
              <label class="ss-q-item-label" for="entry_1857140494">ZIP
              <label for="itemView.getDomIdToLabel()"></label></label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr">
            </div><input class="ss-q-short" dir="auto" id="entry_1857140494" name="entry.1857140494" required="" title="" type="text" value="">

            <div class="error-message" id="332457702_errorMessage"></div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div class="ss-item ss-item-required ss-text" dir="ltr">
          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_115510242"></label>

            <div class="ss-q-title">
              <label class="ss-q-item-label" for="entry_115510242">Phone
              <label for="itemView.getDomIdToLabel()"></label></label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr">
            </div><input class="ss-q-short" dir="auto" id="entry_115510242" name="entry.115510242" required="" title="" type="text" value="">

            <div class="error-message" id="859545333_errorMessage"></div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div class="ss-item ss-item-required ss-text" dir="ltr">
          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_1274389368"></label>

            <div class="ss-q-title">
              <label class="ss-q-item-label" for="entry_1274389368">Email
              <label for="itemView.getDomIdToLabel()"></label></label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr">
            </div><input class="ss-q-short" dir="auto" id="entry_1274389368" name="entry.1274389368" required="" title="" type="text" value="">

            <div class="error-message" id="676519860_errorMessage"></div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div class="ss-item ss-item-required ss-radio" dir="ltr">
          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_1708452602"></label>

            <div class="ss-q-title">
              <label class="ss-q-item-label" for="entry_1708452602">Preferred
              Method of Contact <label for="itemView.getDomIdToLabel()"></label>
              </label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr"></div>

            <ul class="ss-choices">
              <li class="ss-choice-item"><label><span class=
              "ss-choice-item-control goog-inline-block"><input class=
              "ss-q-radio" id="group_90665270_1" name="entry.90665270" required=
              "" type="radio" value="Email"></span> <span class=
              "ss-choice-label">Email</span></label></li>

              <li class="ss-choice-item"><label><span class=
              "ss-choice-item-control goog-inline-block"><input class=
              "ss-q-radio" id="group_90665270_2" name="entry.90665270" required=
              "" type="radio" value="Phone"></span> <span class=
              "ss-choice-label">Phone</span></label></li>

              <li class="ss-choice-item"><label><span class=
              "ss-choice-item-control goog-inline-block"><input class=
              "ss-q-radio" id="group_90665270_3" name="entry.90665270" required=
              "" type="radio" value="Mail"></span> <span class=
              "ss-choice-label">Mail</span></label></li>
            </ul>

            <div class="error-message" id="1708452602_errorMessage"></div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div class="ss-item ss-item-required ss-radio" dir="ltr">
          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_200947817"></label>

            <div class="ss-q-title">
              <label class="ss-q-item-label" for="entry_200947817">Level of
              Membership <label for="itemView.getDomIdToLabel()"></label>
              </label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr">
              Please add family member names to comment box.
            </div>

            <ul class="ss-choices">
              <li class="ss-choice-item"><label><span class=
              "ss-choice-item-control goog-inline-block"><input class=
              "ss-q-radio" id="group_1721942302_1" name="entry.1721942302"
              required="" type="radio" value=
              "Individual ($ 20.00 per year)"></span> <span class=
              "ss-choice-label">Individual ($ 20.00 per year)</span></label></li>

              <li class="ss-choice-item"><label><span class=
              "ss-choice-item-control goog-inline-block"><input class=
              "ss-q-radio" id="group_1721942302_2" name="entry.1721942302"
              required="" type="radio" value="Family ($ 30.00 per year)"></span>
              <span class="ss-choice-label">Family ($ 30.00 per
              year)</span></label></li>

              <li class="ss-choice-item"><label><span class=
              "ss-choice-item-control goog-inline-block"><input class=
              "ss-q-radio" id="group_1721942302_3" name="entry.1721942302"
              required="" type="radio" value=
              "Lifetime (Individual + Spouse, $500.00 one-time gift)"></span>
              <span class="ss-choice-label">Lifetime (Individual + Spouse,
              $500.00 one-time gift)</span></label></li>
            </ul>

            <div class="error-message" id="200947817_errorMessage"></div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div class="ss-item ss-paragraph-text" dir="ltr">
          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_2005042158"></label>

            <div class="ss-q-title">
              <label class="ss-q-item-label" for="entry_2005042158">Do you have
              any skills that you would be willing to offer to the Friends of the
              Forts organization?</label>
            </div><label class="ss-q-item-label" for="entry_2005042158"></label>

            <div class="ss-q-help ss-secondary-text" dir="ltr">
              <label class="ss-q-item-label" for="entry_2005042158">i.e.,
              carpentry, gardening, landscaping, computer skills, customer
              service, etc.</label>
            </div>
            <textarea class="ss-q-long" cols="0" dir="auto" id="entry_2005042158" name="entry.2005042158" rows="8">
  </textarea>

            <div class="error-message" id="1548021768_errorMessage"></div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div class="ss-item ss-paragraph-text" dir="ltr">
          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_389274152"></label>

            <div class="ss-q-title">
              <label class="ss-q-item-label" for="entry_389274152">Comments</label>
            </div><label class="ss-q-item-label" for="entry_389274152"></label>

            <div class="ss-q-help ss-secondary-text" dir="ltr">
              <label class="ss-q-item-label" for="entry_389274152"></label>
            </div>
            <textarea class="ss-q-long" cols="0" dir="auto" id="entry_389274152" name="entry.389274152" rows="8">
  </textarea>

            <div class="error-message" id="1285112612_errorMessage"></div>
          </div>
        </div>
      </div><input name="draftResponse" type="hidden" value="[,,&quot;7375072825113911686&quot;] "> <input name="pageHistory" type="hidden" value="0"> <input name="fbzx" type="hidden" value="7375072825113911686">

      <p><input class="button buttonBrand" id="ss-submit" name="submit" type="submit" value="Submit"></p>
    </div>
  </form>
</article>
