---
layout: default
---
{% include page-header.html %}
<article class="container">
  {{ page.content }}
  <form id="contact" name="Membership Form" method="POST" netlify-honeypot="bot-field" data-netlify="true" action="/payment">
    <h2 class="form-title">Membership Form</h2>
    <div class="form-content">
      <div class="form-section">
        <div class="input-container">
          <label class="form-label" for="name">Name</label>
          <input class="form-control" type="text" id="name" name="name" required>
        </div>
        <div class="input-container">
          <label class="form-label" for="email">Email Address</label>
          <input class="form-control" type="email" id="email" name="email" required> 
        </div>
        <div class="input-container">
          <label class="form-label" for="phone">Phone Number</label>
          <input class="form-control" type="phone" id="phone" name="phone">
        </div>
        <div class="input-container">
          <label class="form-label" for="message">Message</label>
          <textarea class="form-control" id="message" name="message"></textarea>
        </div>
      </div>
      <div class="form-section">
        <h3 class="form-title">Level of Membership?</h3>
        <div class="radio-button-group">
          <div class="radio-button-container">
            <input id="Individual" class="radio-button" type="radio" name="Individual" value="Individual" />
            <div class="radio-tile">
              <label for="Individual" class="radio-label">Individual - $20</label>
            </div>
          </div>
          <div class="radio-button-container">
            <input id="Family" class="radio-button" type="radio" name="Family" value="Family" />
            <div class="radio-tile">
              <label for="Family" class="radio-label">Family - $30</label>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden">
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </div>
      <div class="input-container">
        <button class="button" type="submit">Submit</button>
      </div>
    </div>
  </form>
</article>
