---
layout: default
---
{% include page-header.html %}
<article class="block-feature">
  <div class="container">
    <div class="block-feature-text">
      {{ page.content }}
    </div>
  </div>
</article>
<h2 class="block-feature-title">Our Leadership</h2>
<hr class="hr-space" />
{% for block in site.staff %}
<section class="block">
  <div class="block-image {% if block.image_alignment == "right" %}pull-right{% endif %}" style="background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url({{ block.image_path }});">
  </div>
  <div class="block-content">
    <div class="block-text vertical">
      <div class="container-wide">
        <h4 class="block-subtitle">{{ block.position }}</h4>
        <h3 class="block-title">{{ block.title}}</h3>
        <div class="container">
          <a class="block-meta" href="mailto:{{ block.email }}">{{ block.email }}</a>
          <a class="block-meta" href="phone:{{ block.phone }}">{{ block.phone }}</a>
          <hr />
          <p>{{ block.content | strip_html | truncatewords:50 }}</p>
          <a class="button" href="{{ block.url }}">Keep Reading</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
