---
layout: default
---
{% include page-header.html %}
<article class="page-content container">
  {{ page.content }}
  <a class="button typeform-share" href="https://tgray089.typeform.com/to/taM27h" data-mode="popup" data-hide-headers=true data-hide-footer=true target="_blank">Join Now</a>
  <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
  <a href="/membershipform" class="button buttonBrand">Join</a><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KSENCM3HG9EHA" class="button buttonBrand" target="_blank">Donate</a>

  <p></p>
</article>
