---
layout: default
---
{% include page-header.html %}
<article>
  <section class="block-feature">
    <div class="container">
      <div class="block-feature-text">
        {{ page.content }}
      </div>
    </div>
    <div class="container">
      <h2 class="pageTitle 1">Hours & Admissions</h2>
      <hr class="hr 1" />
      <p>Park grounds are open every day of the year weather permitting. The park visitor center is open Monday through Saturday except Thanksgiving, Christmas, New Year’s Day and state holidays.</p>
      <h3 class="featureSubTitle">Park grounds</h3>
      <p>8:00 am - 5:00 pm daily</p>

      <small>Handicapped accessible except for some portions of the Bartram Trail.</small></p>
      <h3 class="featureSubTitle">Visitor Center</h3>
      <p>9:00 am - 4:00 pm Monday through Saturday.</p>
      <h3 class="featureSubTitle">Admission</h3>
      <p>$2.00 - Adults<br /> $1.00 - Students<br />
    </div>
  </section>
</article>
